@import "tailwindcss";

/* Fuente global */
html {
  font-family: "Manrope", sans-serif;
}

/* Fondo base de la app */
body {
  @apply bg-slate-50 text-slate-900;
}

/* Mejor render de texto */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Inputs consistentes */
input,
textarea,
select {
  @apply outline-none;
}

/* Botones más suaves */
button {
  @apply transition;
}

/* Links base */
a {
  @apply transition;
}