@import "tailwindcss";

/* Activa dark mode por clase .dark en <html> */
@custom-variant dark (&:where(.dark, .dark *));

/* Fuente global */
html {
  font-family: "Manrope", sans-serif;
}

/* Fondo base global */
body {
  @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Inputs consistentes */
input,
textarea,
select {
  @apply outline-none;
}

/* Botones más suaves */
button {
  @apply transition;
}

/* Links base */
a {
  @apply transition;
}